@{
    ViewData["Title"] = "Fin Tracer - Compare Files";
}

<div class="text-center">
    <h1>Curves Compare</h1>
    <p>Compares curves of 2 Super Set excel files.</p>

</div>
<div class="row">
    <div class="col-sm-6">
        <h2>This is compare</h2>
    </div>
    <div class="col-sm-6">
        <h2>This is compare</h2>
    </div>
</div>