@{
    ViewData["Title"] = "Fin Tracer";
}

<div class="text-center">
    <img src="~/img/undraw_growth-curve.svg" alt="Landing Page" style="width:70%;padding:100px;" />
</div>
<div class="text-center">
    <h1>Fin Tracer</h1>
    <p>The Financial Curve Regression Testing Tool is a specialized application designed to streamline the comparison and validation of financial curve data across multiple software versions or datasets. By offering robust regression analysis, the tool ensures consistency, accuracy, and reliability in financial modeling and forecasting processes.</p>
</div>
