@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This tool is developed and maintained by the <strong>ARM Team - Center of Excellence for Analytics</strong>. While every effort has been made to ensure the accuracy, reliability, and usability of the tool, it is provided "as is" without any warranties or guarantees, express or implied.
</p>
<p>
    The ARM Team does not assume responsibility for any errors, inaccuracies, or omissions in the tool or its results. Users are advised to independently validate the outputs and exercise their professional judgment when making decisions based on the tool’s analyses.
</p>
<p>
    The tool is intended to support regression testing and data comparison in financial curve analysis. It should not be used as the sole basis for financial or business-critical decisions. By using this tool, users acknowledge and accept that the ARM Team shall not be held liable for any consequences, direct or indirect, arising from its use.
</p>
<p>
    For further inquiries or support, please contact the <>ARM Team - Center of Excellence for Analytics</strong>.
</p>
