@model FinTracer.Models.CompareModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compares Curves</h1>

<h4>Compares curves between 2 Excel Files</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- File Paths -->
        <div class="mb-3">
            <label for="filePath1" class="form-label">Source File Path</label>
            <input type="text" class="form-control" id="filePath1" placeholder="Enter the path for the Source File" required>
        </div>
        <div class="mb-3">
            <label for="filePath2" class="form-label">Target File Path</label>
            <input type="text" class="form-control" id="filePath2" placeholder="Enter the path for the Target File" required>
        </div>

        <!-- Sheet Names -->
        <div class="mb-3">
            <label for="sheetName" class="form-label">Sheet Name</label>
            <input type="text" class="form-control" id="sheetName" placeholder="AC ZC YC" required value="AC ZC YC">
        </div>

        <!-- Period Selection -->
        <div class="mb-3">
            <label for="period" class="form-label">Select Period</label>
            <select class="form-select" id="periodsel" required onchange="changePeriod(this.value)">
                <option value="" disabled selected>Select a period</option>
                <option value="2025M01">2025M01</option>
                <option value="2025M02">2025M02</option>
                <option value="2025M03">2025M03</option>
                <option value="2025M04">2025M04</option>
                <option value="2025M05">2025M05</option>
                <option value="2025M06">2025M06</option>
                <option value="2025M07">2025M07</option>
                <option value="2025M08">2025M08</option>
                <option value="2025M09">2025M09</option>
                <option value="2025M10">2025M10</option>
                <option value="2025M11">2025M11</option>
                <option value="2025M12">2025M12</option>
                <option value="2026M01">2026M01</option>
                <option value="2026M02">2026M02</option>
                <option value="2026M03">2026M03</option>
                <option value="2026M04">2026M04</option>
            </select>
            <input type="text" class="form-control" id="period" placeholder="Enter the period" value="" style="padding-top:5px">
        </div>

        <!-- Category -->
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" placeholder="Enter the category for comparison">
        </div>

        <!-- Currency -->
        <div class="mb-3">
            <label for="currency" class="form-label">Currency</label>
            <input type="text" class="form-control" id="currency" placeholder="Enter the currency for comparison" value="EUR">
        </div>

        <!-- Submit Button -->
        <div class="text-right">
            <button type="button" onclick="submitCompare()" class="btn btn-primary">Compare</button>
        </div>
    </div>
</div>

<div class="row" style="display:none;" id="statusCompare">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    Comparing...
</div>

<script>
    function changePeriod(text) {
        $("#period").val(text);
    }

    function generateTimestamp() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        return `${year}M${month}D${day}H${hours}m${minutes}s${seconds}`;
    }

    $("#period").val(generateTimestamp());

    function submitCompare() {
        var period = $("#period").val()??generateTimestamp();
        var filename1 = $("#filePath1").val()??"C:\\Repos\\Data\\Curves\\Book_2.xlsx";
        var filename2 = $("#filePath1").val()??"C:\\Repos\\Data\\Curves\\Book_3.xlsx";
        var sheetname = $("#sheetName").val();
        $("#statusCompare").show();
        $.post("/Home/CompareCurves", { period : period, filename1:filename1, filename2: filename2, sheetname:sheetname}, function (data) {
            var nrComparisons = data.length;
            $("#statusCompare").hide();
            Toastify({
                text: `Calculated ${nrComparisons} comparisons.`,
                duration: 5000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                className: "info",
                onClick: function(){}
            }).showToast();
            // console.log(data);
        });
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
