@{
    ViewData["Title"] = "Curve Compare";
}


<link href="~/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/js/select2/select2.min.js"></script>


<div class="container">

    <figure class="highcharts-figure">
        <div id="container"></div>
        <div id="container1"></div>
        <p class="highcharts-description">
            By visualizing these curves side by side, the chart highlights trends, discrepancies, and intersections that offer valuable insights into market conditions, interest rate dynamics, and financial strategy. This tool is ideal for analysts, traders, and decision-makers looking to make data-driven decisions based on detailed financial curve analysis.
        </p>
    </figure>

    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="curves">Curves</label>
                <select class="js-example-basic-multiple" id="curves" name="states[]" multiple="multiple" style="width:700px">
                </select>
                <small id="curvesHelp" class="form-text text-muted">Curves to be display on the chart.</small>
            </div>
            <div class="spinner-grow text-primary" role="status" id="spinner" style="display:none;">
                <span class="sr-only">Loading...</span>
            </div>
            <div>
                <button type="button" class="btn btn-dark" onclick="updateChart()">Update</button>
                <button type="button" class="btn btn-dark" onclick="saveChart()">Save</button>
            </div>
            <div style="width:100%; padding-top:20px;">
                <div class="input-group input-group-sm mb-3">
                    <label for="files" class="col-sm-2 col-form-label">Source File:</label>
                    <br/>
                    <select class="form-select form-select-sm" id="files" aria-label="Small" style="width:300px" onclick="getCurveNames()"></select>
                </div>

            </div>
        </div>
        <div class="col-sm">

        </div>

    </div>
    <div class="row">
        <div class="col-sm">
            <a href="/ChartCompare/Heatmap" class="btn btn-secondary">Heatmap</a>
            <a href="/ChartCompare/Scatter" class="btn btn-secondary">Scatter</a>
            <a href="/ChartCompare/Bands" class="btn btn-secondary">Bands</a>
        </div>
    </div>
</div>


@section scripts {
<script>
    var currency = 'EUR';

    var t = {
        "TimeLineId": generateGuid(),
        "CreatedAt": generateTimestamp(),
        "Username": "paulop",
        "Title": "Curve analysis",
        "SubTitle": "-",
        "XAxis": "-",
        "YAxis": "-",
        "Category": "-",
        "Series": "-",
        "Tooltip": "-",
        "Source": "-",
        "Notes": "Notes can be here",
        "ChartType": "Charttype",
        "Settings": "Setting",
        "Enabled": true
    };

    function getSeries(names) {
        names = 'swap.cra.zero.w220';
        (async () => {
            const data = await fetch(
                '/ChartCompare/GetSerie?name=' + names
            ).then(response => response.json());
        })();
    }

    function getCurveNames(){ 
        var excel = $("#files").val();
        createItem("ftCurrentFile", excel);
        $("#curves").empty();
        $("#spinner").show();
        $.get("/ChartCompare/GetColumns?excel="+excel, function(result) {
            result.sort();
            const cleanedList = result.filter(str => str !== "");
            $.each(cleanedList, function (i, item) {
                $('#curves').append($('<option>', {
                    value: item,
                    text : item
                }));
            });
            $("#spinner").hide();
        });
    }

    function saveChart() { 
        var file = $("#files").val();
        t.Title = prompt("Chart Title?");
        t.Notes =  `${file}`;
        t.Source = file;
        $.post("/Timeline/CreateJ", t, function(result) {
            var res = `Save the curve ${result.title}.`;
            Toastify({
                text: res,
                duration: 5000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                className: "info",
                onClick: function(){}
            }).showToast();
        });
    }

    function updateChart() {
        var names = $("#curves").val().join(',');
        var file = $("#files").val();
        t.Title = "Comparison of Financial Curves: Yields, Swaps, and other Key Financial Instruments";
        t.SubTitle = "By a.s.r. ARM Team.";
        (async () => {
            const data = await fetch(
                '/ChartCompare/GetSerie?name=' + names+ "&excel=" + file
            ).then(response => response.json());
            
            t.Series = JSON.stringify(data);
            t.Category = ['1','2','3','4','5','6','7','8','9','10'];
            Highcharts.chart('container', {
                title: {
                    text: t.Title,
                    align: 'left'
                },

                subtitle: {
                    text: 'By a.s.r. ARM Team.',
                    align: 'left'
                },

                yAxis: {
                    title: {
                        text: 'Value %'
                    }
                },

                xAxis: {
                    title: {
                        text: 'Maturities'
                    },
                    accessibility: {
                        rangeDescription: 'Range: 2010 to 2022'
                    },
                    categories: t.Catalog
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 0
                    }
                },
                series: data ,
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        })();
    }

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
        
        var currentFile = readItem("ftCurrentFile");

        $.get("/ChartCompare/GetFiles", function(result){
            $.each(result, function (i, item) {
                $('#files').append($('<option>', {
                    value: item,
                    text : item
                }));
            });

            $("#files").val(currentFile);

            getCurveNames();
        });

        $.get("/ChartCompare/GetRandomSeries", function(result){
            Highcharts.setOptions({
                colors: ['#4ACB82', '#8EE6EF', '#FF40EA', '#7872C0', '#E92531', '#FFB900', '#969696', '#FF409B'], // Custom palette
            });

            Highcharts.chart('container', {
                title: {
                    text: 'Comparison of Financial Curves: Yields, Swaps, and other Key Financial Instruments',
                    align: 'left'
                },

                subtitle: {
                    text: 'By a.s.r. ARM Team.',
                    align: 'left'
                },

                yAxis: {
                    title: {
                        text: 'Value %'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 2010 to 2022'
                    },
                    categories: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 0
                    }
                },

                series: result ,

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });

        });
    });

</script>
}